.card
    display: inline-block
    perspective: 100rem
    padding: 80px
    text-align: center
    align-items: center
    max-width: 250px
    max-height: 250px
    &-img
        width: 50px
        width: 50px

    &_side
        padding: 0px
        justify-content: space-between
        transition: all 1s ease
        &--front
            opacity: 1
        &--back
            border-radius: 10px
            max-width: 250px
            position: absolute
            top: 60px
            opacity: 0
            transform: rotateY(180deg)

    &:hover &_side--front
        transform: rotateY(180deg)
        opacity: .1
    &:hover &_side--back
        transform: rotateY(0deg)
        opacity: 1