.landing-page{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url('./bg_main.png');
    background-size: 100%;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    opacity: .6;
}

.landing-page-img{
    width: 100%;
    position: relative;
    background: rgba(255, 4, 1, 0.8);
}