@import 'mixings.sass'

.nav-img
    transition: all .2s ease
    cursor: pointer
    &:hover
        @include hovering-nav-2


.landing-page
    margin-top: 100px
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: center

.landing-page-img-bg
    width: 50vw

.title-body
    width: 48vw

.title-body-title
    font-size: 80px
    padding: 10px
    font-weight: 400

@media (max-width: 400px)
    .appbar-img
        width: 20px
        height: 20px

@media (min-width: 320px) and (max-width: 959px)
    .landing-page-img-bg
        width: 99vw
    .title-body-title
        font-size: 80px
        font-weight: 400
        width: 92vw
