@import 'mixings.sass'

.meet-the-team
    margin: 7vw

.avatar
    width: 200px
    height: 200px
    border-radius: 50%
    margin: 30px
    cursor: pointer
    &:hover
        @include hovering-nav
    &-linkedin
        width: 50px
        height: 50px
        padding: 10px
        cursor: pointer
    &-2
        width: 100px
        height: 100px
        border-radius: 50%
        margin: 1px
        cursor: pointer
        &:hover
            @include hovering-nav
        &-linkedin
            width: 50px
            height: 50px
            padding: 10px
            cursor: pointer

        



.avatar-box
    max-width: 220px
    max-height: 600px
    min-height: 100px
    margin: 5px
    padding: 5px
    border: 1px soild black