.why-scotia2
    background-color: #ec111a
    display: flex
    flex-direction: row
    flex-wrap: wrap
    margin: 0px 0px 20px 0px

.why-scotia
    margin: 7vw
.img-body
    width: 50vw
.img-bg
    width: 100%
    height: 100% 
.para-body
    width: 45vw

@media (min-width: 320px) and (max-width: 959px)
    .img-body
        width: 100vw
    .para-body
        width: 100vw

@media (min-width: 959px) 
    .img-bg
        width: 103.5%
