@font-face {
  font-family: 'Scotia_W_Bd';
  src:
    local('Scotia_W_Bd'),
    local('Scotia_W_Bd'),
    url(./assets/font/Scotia_W_Bd.woff2) format('woff2'),
    url(./assets/font/Scotia_W_Bd.woff) format('woff');
}

@font-face {
  font-family: 'Scotia_W_Headline';
  font-style: normal;
  src:
    local('Scotia_W_Headline'),
    local('Scotia_W_Headline'),
    url(./assets/font/Scotia_W_Headline.woff2) format('woff2'),
    url(./assets/font/Scotia_W_Headline.woff) format('woff');
}

@font-face {
  font-family: 'Scotia_W_Lt';
  font-style: normal;
  src:
    local('Scotia_W_Lt'),
    local('Scotia_W_Lt'),
    url(./assets/font/Scotia_W_Lt.woff2) format('woff2'),
    url(./assets/font/Scotia_W_Lt.woff) format('woff');
}

@font-face {
  font-family: 'Scotia_W_Rg';
  font-style: normal;
  src:
    local('Scotia_W_Rg'),
    local('Scotia_W_Rg'),
    url(./assets/font/Scotia_W_Rg.woff2) format('woff2'),
    url(./assets/font/Scotia_W_Rg.woff) format('woff');
}

body {
  margin: 0;
  font-family: "Scotia_W_Bd" "Scotia_W_Lt" "Scotia_W_Rg" "Scotia_W_Headline" "Scotia_W_Bd";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Scotia_W_Bd"
}
